<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>code</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/codemirror.css -->
    <link rel="stylesheet" href="bower_components/codemirror/lib/codemirror.css">
    <!-- endbuild -->
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
</head>

<body style="background:#f6f6f6;">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header class="editor">
        <div class="logo">
            <!--             <a href="index.html">Code</a>
 --></div>
        <nav>
            <ul class="nav navbar-nav">
                <li>
                    <a href="javascript:run();"><i class="glyphicon glyphicon-play"></i>&nbsp;&nbsp;Run </a>
                </li>
                <li>
                    <a href="javascript:void(0);"><i class="glyphicon glyphicon-pencil"></i>&nbsp;&nbsp;Update</a>
                </li>
                <li>
                    <a href="javascript:void(0);"><i class="glyphicon glyphicon-random"></i>&nbsp;&nbsp;Fork</a>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-share-alt"></i>&nbsp;&nbsp;Share&nbsp;&nbsp;<b class="caret"></b></a>
                    <ul class="dropdown-menu tip">
                        <div class="tip-closer">x</div>
                        <div class="tip-content">
                            <p>
                                <label>分享链接</label>
                                <input type="text" value="http://code.hcharts.cn//" readonly>
                            </p>
                            <p>
                                <label>分享全屏结果</label>
                                <input type="text" value="http://code.hcharts.cn//" readonly>
                            </p>
                            <p>
                                <label>嵌入您的页面</label>
                                <textarea name="" id="" cols="30" rows="10" readonly>http://code.hcharts.cn/</textarea>
                            </p>
                            <p>
                                <label>分享到社区</label>
                            </p>
                        </div>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;Login / Register&nbsp;&nbsp;<b class="caret"></b></a>
                    <ul class="dropdown-menu tip login-tip">
                        <div class="tip-closer">x</div>
                        <div class="tip-content">
                            <p>
                                <label>登陆</label>
                                <input type="text" name="username" placeholder="Username">
                            </p>
                            <p>
                                <label>密码</label>
                                <input type="password" name="passowrd" placeholder="Password">
                            </p>
                            <p>
                            </p>
                            <p class="tip-float float-left">
                                <button class="btn btn-primary">Login</button>
                            </p>
                            <p class="tip-float float-left">
                                <label>
                                    <input type="checkbox" name="remember" checked id="remember"> Stay loged in
                                </label>
                                <a href="#" target="_blank">New User? Sign now</a>
                            </p>
                            <div class="clear"></div>
                            <p id="login-info">
                                登陆成功，跳转中...
                            </p>
                        </div>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <section class="editor">
        <form onsubmit="return false">
            <div class="sider">
                <ul id="sider">
                    <li class="sider-list active">
                        <h3 class="sider-title">Code Options</h3>
                        <div class="sider-content" style="display:block">
                            <p>
                                <input type="text" name="name" placeholder="Named your code">
                            </p>
                            <p>
                                <textarea name="description" placeholder="Description your code"></textarea>
                            </p>
                            <p>
                                <input type="checkbox" id="saveLayout">
                                <label for="saveLayout">Save layout</label>
                            </p>
                        </div>
                    </li>
                    <li class="sider-list">
                        <h3 class="sider-title">Frameworks & Extensions</h3>
                        <div class="sider-content">
                            <p>
                                <select name="" id="">
                                    <option value="">Use jQuery?</option>
                                    <option value="">jQuery 1.8.3</option>
                                </select>
                            </p>
                        </div>
                    </li>
                    <li class="sider-list">
                        <h3 class="sider-title">External Resources</h3>
                        <div class="sider-content">
                            <p>
                                <input type="text" name="name" placeholder="Named your code">
                            </p>
                        </div>
                    </li>
                    <li class="sider-list">
                        <h3 class="sider-title">About & copyright</h3>
                        <div class="sider-content">
                            <p><b>About</b></p>
                            <p><a href="/about.html#usage">How to use?</a> | <a href="/about.html#cdn">CDN files</a> | <a href="/about.html#about">about</a></p>
                            <p>Create by <a href="http://www.52wulian.cn" target="_blank">John Doe</a>, thanks to <a href="http://codemirror.net" target="_blank">CodeMirror</a> and <a href="http://jsfiddle.net" target="_blank">Jsfiddle</a>.</p>
                            <p>Get more infomation please follow <a href="http://weibo.com/highcharts" target="_blank">our weibo</a> and <a href="#"> blog</a></p>
                            <p><b>Copyright</b></p>
                            <p>© 2015 HCharts.cn</p>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="main" id="content">
                <div class="loader" id="loader">
                    <div class="loader-content">
                        <img src="images/loader.gif">
                        <p>HCode is coming...</p>
                    </div>
                </div>
                <fieldset class="column left">
                    <div id="panel_js" class="window top">
                        <span class="window_label">javaScript</span>
                        <textarea id="code_js" name="js">$(function () {
    $('#container').highcharts({
        title: {
            text: 'Monthly Average Temperature',
            x: -20 //center
        },
        subtitle: {
            text: 'Source: WorldClimate.com',
            x: -20
        },
        xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        },
        yAxis: {
            title: {
                text: 'Temperature (°C)'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: '°C'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'Tokyo',
            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
        }, {
            name: 'New York',
            data: [-0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8, 24.1, 20.1, 14.1, 8.6, 2.5]
        }, {
            name: 'Berlin',
            data: [-0.9, 0.6, 3.5, 8.4, 13.5, 17.0, 18.6, 17.9, 14.3, 9.0, 3.9, 1.0]
        }, {
            name: 'London',
            data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
        }]
    });
});</textarea>
                    </div>
                    <div class="handler handler_horizontal"></div>
                    <div id="panel_html" class="window bottom">
                        <span class="window_label">HTML</span>
                        <textarea id="code_html" name="html"><div id="container" style="min-width:400px;height:400px"></div>
<script type="text/javascript" src="http://cdn.hcharts.cn/jquery/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
</textarea>
                    </div>
                    <div class="shim" style="display: none;"></div>
                </fieldset>
                <div class="handler handler_vertical"></div>
                <fieldset class="column right">
                    <div id="result" class="window top">
                        <span class="window_label">Result</span>
                    </div>
                    <div class="handler handler_horizontal"></div>
                    <div id="panel_css" class="window bottom">
                        <span class="window_label">CSS</span>
                        <textarea id="code_css" name="css"></textarea>
                    </div>
                    <div class="shim" style="display: none;"></div>
                </fieldset>
            </div>
        </form>
    </section>

    <script type="text/template" id="reuslt-template">
        <!doctype html>
        <html>
            <head>
                <% if(css !== '') {%>
                <style>
                    <%=css%>
                </style>
                <% } %>

            </head>
            <body>
                <%=html%>
                <script>
                <%=js%>
            </body>
        </html>
    </script>
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/underscore/underscore-min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js(.) scripts/plugins.js -->
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
    <!-- endbuild -->
    <!-- build:js(.) scripts/codemirror.js -->
    <script src="/bower_components/codemirror/lib/codemirror.js"></script>
    <script src="/bower_components/codemirror/mode/xml/xml.js"></script>
    <script src="/bower_components/codemirror/mode/css/css.js"></script>
    <script src="/bower_components/codemirror/mode/javascript/javascript.js"></script>
    <script src="/bower_components/codemirror/keymap/sublime.js"></script>
    <!-- endbuild -->
    <!-- build:js scripts/main.js -->
    <script src="scripts/common.js"></script>
    <script src="scripts/editor.js"></script>
    <script type="text/javascript">
      // 布局
      var layout = [0.75, 0.75, 0.5];
    </script>
    <!-- endbuild -->
</body>
</html>
